  /* bagian tengah */

.contentimg1{
  height: 700px;
    background-image:url("../assets/homepageimg.png");
    /* background-image:linear-gradient(), url("../assets/homepageimg.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* .kawasaki1{
  text-align: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;

  font-size: 100px;
} */

.profile{
  margin: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: black; */
  background-image: url("../assets/homepageimg2.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;

}

.profileimg img{
  padding-top: 100px;
  padding-bottom: 30px;
}

.bestSeller{
  color: white;
  font-size: 200%;
  padding-left: 40%;
}

.profile-text{
  font-size: 40px;
  color: white;
  padding-left: 100px;
}

/*--------------------------------KAWASAKO-------------------------------*/

.kawasaki1, .kawasaki2, .vixian{
  max-width: 1024px;
  margin: 5% auto;
}

#product-image-1, #product-image-2{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 16px;
}

.product{
  width: 100%;
  height: 94%;
  border-radius: 5px;
  transition:0.3s ease;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid lightslategrey;
}

.product:hover{
	opacity: 1;
}

.desc{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 16px;
}

.tag{
  padding-bottom: 10px;
  text-align: center;
}

.keyword1, .keyword2{
  background-color: #1b192b;
  color: #f2f2f2;
  padding: 1px 5px;
  border-radius: 5px;
}

.desc-image{
  background-color: #232628;
  color: #f2f2f2;
  padding: 2px;
  border-radius: 5px;
}

.desc h3, p{
  text-align: center;
}

.desc p{
  color: red;
}


/* ===================
        MODAL
    ==================
 */

.modal{
	display: none;
	position: fixed;
	z-index:1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(44, 62, 80,0.8);
}

.modal-image-content{
	margin-left: 5%;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	color: #f2f2f2;
	font-weight: bold;
	padding:30px 300px;
	height: 150px;
}

#price{
	color: #f2f2f2;
  font-weight: bold;
	bottom: 90%;
	left: 60%;
	position: relative;
	display: block;
	text-align: justify;
}

#paragraph{
	color: #f2f2f2;
	position: relative;
	bottom: 90%;
	left: 60%;
	display: block;
	width: 30%;
	height: 60%;
	max-width: 100%;
	text-align: justify;
	color: #f2f2f2;
	padding:10px 0;
}

.modal-image-content , #caption , #paragraph, #price{
	-webkit-animation-name:zoom;
	-webkit-animation-duration:0.6s ease;
	animation-name:zoom;
	animation-duration:0.8s;
}

@-webkit-keyframes zoom{
	from{-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom{
	from{transform:scale(0)}
	to {transform:scale(1)}
}

#close{
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f2f2f2;
	font-size: 40px;
	font-weight: bold;
	transition:0.5s ease;
}

#close:hover,#close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/*--------------------------------VIXIAN-------------------------------*/

/* ===================
        MODAL
    ==================
 */

#caption2{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	color: #f2f2f2;
	font-weight: bold;
	padding:30px 300px;
	height: 150px;
}

#price2{
	color: #f2f2f2;
  	font-weight: bold;
	bottom: 100%;
	left: 60%;
	position: relative;
	display: block;
	text-align: justify;
}

#paragraph2{
	color: #f2f2f2;
	position: relative;
	bottom: 100%;
	left: 60%;
	display: block;
	width: 30%;
	height: 60%;
	max-width: 100%;
	text-align: justify;
	color: #f2f2f2;
	padding:10px 0;
}

.modal-image-content , #caption2, #paragraph2, #price2{
	-webkit-animation-name:zoom;
	-webkit-animation-duration:0.6s ease;
	animation-name:zoom;
	animation-duration:0.8s;
}
